:root {
  color: white;
  background-color: #E5E5E5;
}

:root * {
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;

  height: fill-available;
  height: -webkit-fill-available;
}

body {
  flex-grow: 1;
  width: 100%;
  min-height: fill-available;
  min-height: -webkit-fill-available;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.interface {
  background-color: #292F3F;
  box-shadow: 40px 40px 100px 0px rgba(24, 48, 63, 0.50);

  max-width: 900px;
  height: 100vh;
  max-height: 900px;
  padding: 1.25rem;

  display: flex;
  flex-direction: column;
  flex: 1;

  position: relative;
  overflow: hidden;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d377;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3b6;
}

@media only screen and (max-width: 900px) {
  .interface {
    max-height: none;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}